<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/mystyle.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="/static/js/menu.js"></script>
  <title>The Monopoly&reg; Bank</title>
</head>
<body>
{% include 'header.html' %}
<center>
<article>
Scan QR-code to send Monopoly Money or ALGO back to the Monopoly Bank<br>
<img src="/static/img/bank-account.png"></img><br>
</article></center>
{% include 'footer.html' %}
</body>
</html>